@import "./../../../UI/scssutils/variables.scss";
.main-part {
  width: 100%;
  padding: 30px 40px;
  background-color: #edf4ff;

  & .container {
    & .search-part {
      margin-bottom: 20px;
    }
    & .students {
      background: white;
      padding: 30px;
      &-list {
        &-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &-info {
          background-color: #edf4ff;
          & thead {
            & th {
              font-weight: 900;
            }
          }
        }
      }
    }

    & .title {
      display: flex;
      justify-content: space-between;
      & h1 {
        font-size: 22px;
        color: #2c323f;
      }
      &-left {
        font-size: 22px;
      }
      &-right {
        & h1 {
          font-size: 18px;
        }
      }
    }
    & .numbers {
      & .card-info {
        & h1,
        p {
          margin: 0px;
        }
      }
    }
    & .todayLessons {
      margin-top: 30px;
      & .container {
        & .lessons {
          display: flex;
          flex-direction: column;

          & .lesson {
            background: white;
            border-radius: 10px;

            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            & .lessonInfo {
              & .info {
                & h1,
                p {
                  margin: 4px;
                }
                & p {
                  font-weight: 500;
                  color: gray;
                }
                & h1 {
                  font-size: 25px;
                  font-weight: 600;
                }
              }
            }
            & .title {
              & h1 {
                font-weight: 900;
                margin: 0px;
              }
            }
          }
        }
      }
    }
  }
}

.cover {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: $navbarBackgroundColor;
  }
}
.loading {
  background: white;
}
