@import "../../../UI/scssutils/variables.scss";

.main-part {
  & .container {
    width: 100%;
    & .content {
      display: flex;
      & .subjects-filter {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        background: white;
        padding: 40px;
        width: 25%;
        &-content {
          display: flex;
          flex-direction: column;
          gap: 50px;
        }
      }
      & .subjects {
        color: white;
        width: 75%;
        & .subject {
          padding: 20px 40px;

          & .box {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 300px;
            display: flex;
            flex-direction: column;
            height: 250px;
            &-bottom {
              cursor: pointer;
              padding: 10px;
              background: #3a004e;
              transition: 0.5s;
              &:hover {
                background: black;
              }
              &-navigate {
                text-align: end;
                & p {
                  padding: 5px 15px;
                  margin: 0px;
                }
              }
            }
            &-top {
              height: 80%;
              padding: 10px;
              background: #cc74eb;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              &-title {
                display: flex;
                justify-content: space-between;
                & h1 {
                  margin: 0px;
                }
                & .left {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                }
              }
              &-middle {
                display: flex;
                justify-content: space-between;
                & h1 {
                  margin: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
