.schedule {
  & .fc-event-main {
    & p {
      font-size: 14px;
      margin: 0px;
    }
  }
}
.fc-day-today {
  background: #fff !important;
}
// .popoverStyle {
//   z-index: 99999;
// }
.tooltip {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  & .add-info {
    & p {
      margin: 5px 0px;
    }
  }
}
