.error-page {
  position: absolute;
  left: (50%);
  top: (50%);
  transform: translate(-50%, -50%);
  & .container {
    & .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .buttons {
        & button {
          margin-right: 15px;
        }
      }
      & h1 {
        color: #3d5ee1;
        font-size: 10em;
        margin: 0px;
      }
      & h5 {
        font-size: 30px;

        margin: 0px;
        display: flex;
        align-items: center;
        color: #000000;
      }
      & h4 {
        margin: 0px;
        font-size: 25px;
        font-weight: 600;
        margin: 10px 0px 15px 0px;
      }
    }
  }
}
